<html>

  <head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Caterpillar</title>
  </head>

  <body>
  	<div>
	  	<button id='broadcast' disabled class='btn btn-danger'>
	  		<b>Broadcast</b>
	  	</button>
	  	<button id='connect' disabled class='btn btn-danger'>
	  		<b>Connect to room</b>
	  	</button>
	  	<label style='color: grey' class='pull-right' id='message'></label>
  	</div>
  	<label id="share-url"></label>
  	<div class="hidden" id="connect-form" >
	  	<input type="text"  id="connect-token" placeholder="Enter room's token">
	  	<button id="connect-button" class="btn btn-danger">Connect!</button>
  	</div>
  </body>
</html>

<div id="fb-root"></div>
<script>
	var broadcasting = false
	var current_user, logged_in

  var getUrlParameter = function getUrlParameter(sParam) {
	  var sPageURL = decodeURIComponent(window.location.search.substring(1)),
	    sURLVariables = sPageURL.split('&'),
	    sParameterName,
	    i;
	  for (i = 0; i < sURLVariables.length; i++) {
	    sParameterName = sURLVariables[i].split('=');
	    if (sParameterName[0] === sParam) {
	      return sParameterName[1] === undefined ? true : sParameterName[1];
	    }
	  }
	};

	var room_token = getUrlParameter('r')


	var socket = io("http://localhost:5000/", {path: "/socket.io"});
	function retrieveFbdata(token, callback){
		console.log("retrieveFbdata")
	  FB.api('/me', function(response) {
	    var user = {facebook_id: response.id, name: response.name}
	    FB.api(
		    "/"+ response.id +"/picture",
		    function (response) {
		      if (response && !response.error) {
		        user["profile_picture"] = response.data.url
				     socket.emit('user connected', user, token, function(){
				     	current_user = user
				     	console.log("FB data retrieved")
				     	callback()
				     })
		      }
		    }
		  ); 
		 //  FB.api(
			//     "/"+ response.id + "/friends",
			//     function (response) {
			//       if (response && !response.error) {
			//         updateFriendsTable(response)
			//         // console.log(response)
			//       }
			//     }
			// );
	  });
	}
	function facebook(token, callback){
		$.getScript('//connect.facebook.net/en_US/sdk.js', function(){
	    FB.init({
	      appId      : '1649826191991303',
	      xfbml      : false,
	      version    : 'v2.8'
	    });
			FB.getLoginStatus(function(response) {
			  if (response.status === 'connected') {
			  	retrieveFbdata(token, callback)
			  }
			  else {
			    FB.login(function(response) {
					  if (response.authResponse) {
					   retrieveFbdata(token, callback)
					  } else {
					   console.log('User cancelled login or did not fully authorize.');
					  }
					});
			  }
			});
	  });
	}

	function logout(){
		$.getScript('//connect.facebook.net/en_US/sdk.js', function(){
	    FB.init({
	      appId      : '1649826191991303',
	      xfbml      : false,
	      version    : 'v2.8'
	    });
	    FB.getLoginStatus(function(response) {
	    	console.log(response)
				FB.logout(function(response){
				    return false;
				});
			});
	  });
	}

	function updateFriendsTable(object) {
		if (object.length == 0){

		} else {

		}
	}

	$(document).on('click', '#connect-button', function(){
		token = $("#connect-token").text()
		if (token == ''){
			alert('A room token is needed to connect')
		} else {

		}
	})


	$(document).on('click', '#connect', function(){
		$('#connect-form').removeClass('hidden')
		$('#share-url').addClass('hidden')
	})

	$(document).on('click', '#logout', function(){
		logout()
	})

  $(document).on('click', '#broadcast', function(){
  	$('#connect-form').addClass('hidden')
  	if (broadcasting){
  		broadcasting = false
  	} else {
	  	socket.emit('broadcast start', 'RandomRoom', function(room){
				$('#share-url').removeClass('hidden')
		   	$('#share-url').html("Share this url: http://localhost:5000?r="+room.token)
		  })
  		broadcasting = true
	  	updateBroadcastStatus()
  	}
  })

  function updateBroadcastStatus(){
  	socket.emit("update broadcast status", function(){
  		updateBroadcastStatus()
  	})
  }

  socket.on("player ready", function(){
  	updateMessage("Spotify client ready! Fetching your Facebook data...")
		// facebook(room_token, function(){
  		$("#broadcast").attr('disabled', false)
			$("#connect").attr('disabled', false)
  		updateMessage("You're all set!")
			$(document).on('click', '.connect', function(){
				socket.emit("listen", current_user, function(room){
					console.log("you are now connected to room " + room.name)
					updateLocalPlayer(room)
				})
			})
		// })
  })

	function updateLocalPlayer(room){
		socket.emit("update player", room, function(){
			console.log("updating your local player")
		})
	}

	function updateMessage(message, disappear){
		$("#message").html(message)
	}

	socket.on("player status", function(status){
		alert(status)
	})

	socket.on("message user", function(message){
		updateMessage(message, false)
	})
</script>

<style type="text/css">
	button, label, input {
		margin-top: 10px;
    margin-left: 20px;
	}

	input {
		min-width: 400px;
	}

	div	{
		display: flex;
	}
</style>